<%- include('include/head.ejs') %>
  </head>
  <body>
    <%- include('include/navigation.ejs') %>
    <form action="/add-product" method="post">
      <input type="text" name="title" />
      <button type="submit">Add product</button>
    </form>
<%- include('include/end.ejs') %>