<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Shop</a></li>
          <li><a href="/add-product">Add Product</a></li>
        </ul>
      </nav>
    </header>
    <% if(prods.length>0) {%> <% for(let product of prods) {%>
    <p><%= product.title %></p>
    <% } %> <% } else { %>
    <h1>No products found</h1>
    <% }%>
  </body>
</html>
