<%- include('include/head.ejs') %>
<link rel="stylesheet" href="/styles/shop.css" />
</head>
<body>
  <%- include('include/navigation.ejs') %> <% if(prods.length>0) {%> <% for(let
  product of prods) {%>
  <p><%= product.title %></p>
  <% } %> <% } else { %>
  <h1>No products found</h1>
  <% }%> <%- include('include/end.ejs') %>